body {
    background-color: #131c25;
    color: white;
    font-family: monospace;
}

.titulo {
    background-color: black;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.site {
    padding: 50px;
    display: flex;
    flex-direction: initial;
    justify-content: space-evenly;
}

.site2 {
    padding: 50px;
    display: flex;
    flex-direction: initial;
}

#foto {
    border-radius: 60%;
    width: 10%;
    
    
}